.modal {
    background-color: rgb(49, 49, 146);
    position: fixed;
    top: 10px;
    left: 77px;
    width: 90%;
    height: 90%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-contenido {
    background-color: rgb(127, 141, 152);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

.modal-imagen {
    width: 60%;
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

.modal-contenido p {
    font-size: 14px;
}