#series-carousel.owl-carousel {
    background-color: #f0f0f0;
    padding: 20px;
}


/* Estilos para los elementos del carrusel */

#series-carousel.owl-carousel .owl-item {
    margin: 0 10px;
}

#series-carousel.owl-carousel .owl-prev,
#series-carousel.owl-carousel .owl-next {
    background-color: #333;
    color: #fff;
    font-size: 24px;
    padding: 10px;
}

#series-carousel.owl-carousel .owl-dots {
    text-align: center;
}

#series-carousel.owl-carousel .owl-dot {
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}